%h2 Group Details

= form_for @group, url: @group.persisted? ? group_path(@group) : groups_path  do |f|
  .form-group
    = f.label      :name
    = f.text_field :name, id: 'name', class: 'form-control', placeholder: 'Give Group Name'

  .form-group
    = f.label :mutant_ids, 'Mutants'
    = f.collection_select  :mutant_ids, Mutants::Mutant.order(:name), :id, :name, {include_blank: true}, {id: 'mutants', multiple: 'multiple', class: 'form-control'}

  .form-group
    = f.label :task_ids, 'Tasks'
    = f.collection_select  :task_ids,   Mutants::Task.order(:name), :id, :name,   {include_blank: true}, {id: 'tasks',   multiple: 'multiple', class: 'form-control'}

  = f.submit id: 'save_group', class: 'btn btn-default'

= link_to 'Groups', groups_path