= render partial: 'search_form'
= render partial: 'group_actions'

- unless @groups.blank?
  %table#group_list{class: 'table-index'}
    %thead
      %tr
        %th ID
        %th Name
        %th Mutants
        %th Tasks
        %th
    %tbody
      - @groups.each do |g|
        %tr
          %td= g.id
          %td= link_to g.name, edit_group_path(g)
          %td
            %span#number_of_mutants
              = number_of_mutants(g)
          %td
            %span#number_of_tasks
              = number_of_tasks(g)
          %td= link_to 'Delete', group_path(g), id: "group_delete_action_#{g.id}", name: 'delete-task', method: 'delete', data: {confirm: 'Are you sure that you want to delete this Group?'}
