!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "Mutants Welcome Page", name: "description"}/
    %meta{content: "Panayotis Matsinopoulos", name: "author"}/
    %title Welcome to Mutants
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              %h3.masthead-brand Cover
              %ul.nav.masthead-nav
                %li.active
                  %a{href: "#"} Home
                %li
                  %a{href: "#"} Features
                %li
                  %a{href: "#"} Contact
          .inner.cover
            %h1.cover-heading Cover your page.
            %p.lead Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
            %p.lead
              %a.btn.btn-lg.btn-default{href: "#"} Learn more
          .mastfoot
            .inner
              %p
                Cover template for
                = succeed "," do
                  %a{href: "http://getbootstrap.com"} Bootstrap
                = succeed "." do
                  %a{href: "https://twitter.com/mdo"} @mdo